.input_container {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_description {
  font-size: 16px;
  line-height: 24px;
  max-width: 400px;
  opacity: 0.7;
  font-weight: 600;
}

.datepicker_block {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 150px !important;
  cursor: pointer;
}

.tasks_list {
  display: grid;
  max-width: 950px !important;
  padding-top: 20px;
  margin: 0 auto;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  transition: 0.3s;
}

.card-warning {
  border: 1px solid rgb(151, 22, 22) !important;
}

.dellete_row {
  margin-top: 30px !important;
}

.dellete_btn {
  max-width: 250px !important;
  margin: 30px auto;
}

.chekbox-btn {
  display: block;
  margin: 15px;
  width: fit-content;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}

.chekbox-btn:hover {
  opacity: 0.7;
}

.haeder_container {
  height: 65px;
  max-width: 950px !important;
}

.task_button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin-right: 10px;
  height: 40px;
}

.task_button svg {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 2px;
}

.footer {
  position: relative;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: purple;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.main_section {
  flex: 1;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.empty_block {
  margin: 10px auto;
  max-width: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.tooltip_elem{
  position: absolute !important;
}
.task_buttons{
  position: relative;
}
.empty_block img {
  width: 100%;
  height: auto;
  max-width: 15vw;
  object-fit: cover;
}

.active_link{
  color: red;
}
.header_link.active{
  color: red;
}

.card-description{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-name{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.singleTask-container{
  margin: 40px auto;
  padding: 0 20px;
  max-width: 970px;
}
.form-switch label{
  white-space: nowrap !important;
  text-wrap: nowrap;
  cursor: pointer;
}
#custom-switch{
  cursor: pointer;
}

.form-switch{
  position: relative;
  top: 7px;
  left: -20px;
  cursor: pointer;
}
.task_name{
    font-size: 31px;
    font-weight: 600;
    color: purple;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.task_description{
  font-size: 20px;
  margin-bottom: 15px;
}
.task_date{
  margin-bottom: 20px;
  font-size: 24px;
  color: rgba(53, 50, 50, 0.463);
}

.remove-btn , .edit-btn{
  display: flex  !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;
  width: auto !important;
  transition: 0.3s;
}
.edit-btn:hover{
  opacity: 0.7;
}
.btn_wrapper{
  display: flex;
  align-items: center;
}

.btn_wrapper svg{
  margin-left: 10px !important;
}