.input_container {
  max-width: 600px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_description {
  font-size: 16px;
  line-height: 24px;
  max-width: 400px;
  opacity: 0.7;
  font-weight: 600;
}

.datepicker_block {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 150px !important;
  cursor: pointer;
}

.tasks_list {
  display: grid;
  max-width: 950px !important;
  padding-top: 20px;
  margin: 0 auto;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  transition: 0.3s;
}

.card-warning {
  border: 1px solid rgb(151, 22, 22) !important;
}

.dellete_row {
  margin-top: 30px !important;
}

.dellete_btn {
  max-width: 250px !important;
  margin: 30px auto;
}

.chekbox-btn {
  display: block;
  margin: 15px;
  width: fit-content;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.3s;
}

.chekbox-btn:hover {
  opacity: 0.7;
}